{% extends 'base.html.twig' %}

{% block title %}Manage{% endblock %}

{% block body %}


    <section>
        <h1>ESPACE ADMINISTRATION</h1>

        <p>
            <a href="{{ path('backstage_registration') }}">S'enregistrer</a>
        </p>

        <p>
            <a href="{{ path('backstage_login') }}">Se connecter</a>
        </p>
    </section>
{% endblock %}