{% extends 'base.html.twig' %}

{% block title %}Nous ne trouvons pas la page recherchée - All Surface{% endblock %}

{% block body %}
    <section>
        <h1>Nous ne trouvons pas la page recherchée</h1>

        <h2>Vérifiez que l'URL ne contient pas d'erreur</h2>

        <a href="{{ path('home') }}">Allez à la page d'accueil</a>
    </section>
{% endblock %}